@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


:root{
    font-size: 15px;

   --main-bg:hsl(233, 47%, 7%);
   --card-bg:hsl(244, 38%, 16%);
   --soft-violet:hsl(277, 64%, 61%);
   
   --white:hsl(0, 0%, 100%);
   --main-para:hsla(0, 0%, 100%, 0.75);
   --states-head:hsla(0, 0%, 100%, 0.6);

   --bg-violet:hsl(277deg, 100%, 50%, 0.42);
   --bg-light-violet: hsl(293deg, 42%, 35%, 0.24);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: var(--main-bg);
    font-weight:400;
}
main{
    min-width: 600px;
    z-index: 1;
    display: flex;
    margin: 1em;
}

section{
    display: flex;
    flex-direction: column;
    padding-right: 6.5em ;
    padding-top: 5em;
    padding-left: 5em;
    padding-bottom: 5em;
    width: 570px;
    min-width: 300px;
    background-color: var(--card-bg);
    border-radius: 10px 0 0 10px;
}

section h1{
    color: var(--white);
    font-size: 2.25rem;
    margin-bottom: 0.75em;
    font-weight: 700;
}

section h1 span{
    color: var(--soft-violet);
}

section .content{
    margin-right: 2em;
}

section .lead{
    font-size: 1.1rem;
    font-family: "Lexand Deca" ,sans-serif;
    color: var(--main-para);
    line-height: 1.5em;
    margin-bottom: 5em;
}

section ul{
    list-style: none;
    justify-content: space-between;
    letter-spacing: 1px;
    display: flex;
}

section ul h2{
    color: var(--white);
    margin-bottom: 0.3em;
}

section ul p{
    font-family: "Lexand Deca" ,sans-serif;
    color: var(--states-head);
    text-transform: uppercase;
    font-size: 0.75rem;
}
.bg-img{
    min-height: 10em;
    width: 540px;
    min-width: 20px;
    background: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}
.overlay{
    background: var(--bg-violet);
    height: 100%;
}

.overlay-2{
    background: var(--bg-light-violet);
    height: 100%;
    mix-blend-mode: color-burn;
}

.attribution { 
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    line-height: 20px;
    text-align: center;
    color: var(--states-head);
    margin-bottom: 10px;
}
.attribution a { 
    text-decoration: none;
    font-weight: bold;
    color: var(--states-head); 
}

.attribution a:hover{
    color: var(--bg-violet);
}

@media only screen and (max-width:1024px){
    :root{
        font-size: 12px;
    }
    section{
        padding: 3em 4.5 3em 3em;
    }
}   

@media only screen and (max-width:625px){
    body{
        flex-direction: column;
    }
    main{
        flex-direction: column-reverse;
        margin: 10px;
        min-width: 200px;
        margin: 5em;
    }
    section{
        padding: 0;
        padding: 3em;
        width: 300px;
        border-radius: 0 0 10px 10px;
    }
    section h1,
    section .lead{
        text-align: center;
    }
    section .lead{
        font-size: 1.1rem;
        margin-bottom: 2em;
        line-height: 1.75em;
    }
    section .content{
        margin-right: 0;
    }
    section ul{
        flex-direction: column;
        align-items: center;
    }
    section ul li{
        margin-bottom: 2em;
    }
    section ul h2{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.25em;
    }
    section ul p{
        font-size: 1.05rem;
    }
    .bg-img{
        height: 220px;
        width: 300px;
        border-radius: 10px 10px 0 0;
        background: url(images/image-header-mobile.jpg) no-repeat;
        background-size: contain;
    }
    .attribution{
        position: relative;
        margin-top: 20px;
    }
}